/* ==========================================================================
#buttons
========================================================================== */
$o-button: '.o-button';

// placeholder

%button {
    @apply inline-block text-8 py-3 px-8 font-normal rounded leading-none duration-200 uppercase transition-all ease-in;

    &.is-disabled,
    &:disabled {
        @apply opacity-50 cursor-not-allowed pointer-events-none;
    }

}

// class

#{$o-button} {
    @extend %button;

    &.purple {
        @apply text-white font-poppins font-medium;
        background: linear-gradient(-90deg, rgba(97, 86, 249, 1) 0%, rgba(26, 18, 159, 1) 100%);

        &.is-hover,
        &:hover {
            background: linear-gradient(90deg, rgba(97, 86, 249, 1) 0%, rgba(26, 18, 159, 1) 100%);
        }

        &.is-focus,
        &:focus {
            @apply bg-gray-2;
        }
    }


}

// #{$o-button}-outline {
//     @extend %button;
//     @apply border bg-transparent text-white;

//     &.purple {

//         &.is-hover,
//         &:hover {
//             @apply bg-purple-1;
//         }

//         &.is-focus,
//         &:focus {
//             @apply bg-purple-2;
//         }
//     }


// }

// #{$o-button}-bordered {
//     @extend %button;
//     @apply border bg-transparent;

//     &.purple {
//         @apply border-purple-1 text-white;

//         &.is-hover,
//         &:hover {
//             @apply bg-purple-1;
//         }

//         &.is-focus,
//         &:focus {
//             @apply bg-purple-2;
//         }
//     }

// }
