{# index.twig #}
{% extends "../_layout/base.twig" %}

{% block page %}

<h1 class="font-lobster text-20">hello world</h1>
<h1 class="font-dosis text-20">hello world</h1>
<h1 class="font-poppins text-20">hello world</h1>

index

<img src="/dist/svg/advertising.svg" />

{% endblock %}
