{# index.twig #}
{% extends "../_layout/base.twig" %}

{% block page %}

<section id="block-hero">
    <div class="max-w-grid mx-auto relative pb-8">
        <div class="flex -mx-3 items-center">

            <div class="w-6/12 px-3">
                <h2 class="font-poppins text-25 text-gray-1 leading-none">Social media<strong class="block text-37">for
                        businses!</strong></h2>
                <p class="mt-2 uppercase text-gray-2 font-poppins text-8 font-light max-w-70 leading-snug">PERFOMANCE
                    BASED SOCIAL MEDIA AGENCY WE ARE LOREM MEDIA</p>
                <a href="#" class="o-button purple | mt-4">Get a free audit</a>
            </div>

            <div class="w-6/12 px-3">
                <img src="/dist/svg/hero.svg" alt="" />
            </div>

        </div>
        <a href="#" id="mouse"
            class="w-16 h-16 rounded-full bg-white flex justify-center items-center shadow absolute bottom-0 left-1/2 transform -translate-x-1/2"><img
                src="/dist/svg/mouse.svg" alt="" /></a>
    </div>
</section>

<section id="block-bio" class="mt-10">
    <div class="max-w-grid mx-auto relative">
        <div class="flex -mx-3 items-center">

            <div class="w-6/12 px-3">
                <img src="/dist/svg/who-are-are.svg" class="relative transform -translate-x-20" alt="" />
            </div>

            <div class="w-6/12 px-3">
                <p class="o-subtitle | text-10">Biography</p>
                <h2 class="o-heading-2 | mt-1">Who We Are</h2>
                <div class="o-wysiwyg">
                    <p>Lorem Media is a full-service social media agency. We offer businesses innovative solutions that
                        deliver the right type of audience to you in the most effective strategies possible. We strive
                        to develop a community around your business, polishing your branding, and improving your public
                        relations.
                    <p>Social Media is now one of the most powerful marketing tools with the ability to communicate with
                        a target audience in real time.</p>
                        <p>It's 2019: time to sink or swim.</p>
                </div>
                <a href="#" class="o-button purple | mt-6">See more</a>
            </div>

        </div>
    </div>
</section>

<h1 class="font-lobster text-20">hello world</h1>
<h1 class="font-dosis text-20">hello world</h1>
<h1 class="font-poppins text-20">hello world</h1>

index

<img src="/dist/svg/advertising.svg" />

{% endblock %}
